{% extends 'base2.html' %}
{% load static %}

{% block css %}
  <!-- Date picker plugins css -->
  <link href="{% static "assets/plugins/bootstrap-datepicker/bootstrap-datepicker.min.css" %}" rel="stylesheet" type="text/css" />
  <link href="{% static "assets/plugins/vanillajs-datepicker/datepicker-bs4.css" %}" rel="stylesheet" />
  <link href={% static 'assets/paginas/agenda/agenda-listar.css' %} rel="stylesheet" />
{% endblock %}

{% block contenido %}
<div class="contenedor-lista">
  <div class="contenedor-header">
    <div class="search-paciente">
      <span></span>
    </div>
    <div class="date-paciente">
      <i id="navizq" class="fa fa-caret-left nav-left"></i>
      <div class="date-picker">
        <span id="fecha-datepicker"></span>
        <form id="search-form" action="{% url 'new-agenda-ajax-lista' %}" method="post">
          {% csrf_token %}
          <input id="datepicker" name="fecha" type="text" class="form-control small" />
        </form>
      </div>      
      <i id="navder" class="fa fa-caret-right nav-right"></i>
    </div>
    <div class="contenedor-actions">
      <button id="imprimir" class="btn btn-principal"><i class="fa fa-print"></i></button>
    </div>    
  </div>
  <div id="lista-consultas">
  </div>  
</div>
{% endblock %}

{% block js %}
<!-- This is data table -->
<script src="{% static "assets/plugins/datatables/jquery.dataTables.min.js" %}"></script>
<!-- Date Picker Plugin JavaScript -->
<script src="{% static "assets/plugins/vanillajs-datepicker/datepicker-full.js" %}"></script>
<script src="{% static "assets/plugins/vanillajs-datepicker/locales/es.js" %}"></script>
<script src="{% static "assets/plugins/moment/moment.js" %}"></script>
<script src="{% static "assets/plugins/moment/min/locales.js" %}"></script>
<script src="{% static "assets/paginas/agenda/agenda-listar.js" %}"></script>
{% endblock %}