{% extends 'base2.html' %}

{% load static %}

{% block css %}
  <!-- Date picker plugins css -->
  <link href="{% static "assets/plugins/bootstrap-datepicker/bootstrap-datepicker.min.css" %}" rel="stylesheet" type="text/css" />
  <link href="{% static "assets/plugins/vanillajs-datepicker/datepicker-bs4.css" %}" rel="stylesheet" />
  <link href={% static 'assets/paginas/reportes/index.css' %} rel="stylesheet" />
{% endblock %}

{% block contenido %} 
  <ul class="tabs-navigation tabs-reports">
    <li class="tab-link background">
      <a href={% url 'reporte-index' %} class="active">Mis Métricas</a>
    </li>
    <li class="tab-link background">
      <a href={% url 'reporte-particulares' %}>Reporte Particulares</a>
    </li>
    <li class="tab-link background">
      <a href={% url 'reporte-seguros' %}>Reporte Seguros</a>
    </li>
  </ul>
  <hr class="division">
  <div class="addon-dashboard">
    <div class="dashboard-header">
      <div class="heading">
        <h3 class="title">
          <strong>Metricas</strong>
        </h3>
      </div>
    </div>
  </div>
  
{% endblock %}



{% block js %}
  <script src="{% static "assets/plugins/vanillajs-datepicker/datepicker-full.js" %}"></script>
  <script src="{% static "assets/plugins/vanillajs-datepicker/locales/es.js" %}"></script>
  <script src="{% static "assets/plugins/moment/moment.js" %}"></script>
  <script src="{% static "assets/plugins/moment/min/locales.js" %}"></script>
  <script src="{% static "assets/paginas/reportes/index.js" %}"></script>
{% endblock %}
