{% load static %}

{% load paciente_tags %}

<div class="contenedor-header">
    <div>Total Citas: {{ detalle.total_citas }}, Citas Particular: {{ detalle.citas_particular }}, Citas Seguro: {{ detalle.citas_seguro }}</div>
    <div></div>
    <div>Total Particular: {{ detalle.total_particular }} Bs. Total Seguro: {{ detalle.total_seguro }}</div>    
</div>
<ul class="consulta-lista">
{% if consultas.count > 0 %}
  {% for consulta in consultas %}    
    <div class="schedule-item" data-url={% url 'agenda-editar' pk=consulta.id %}>
      <div class="schedule-state {% if consulta.estado %} state-success {% else %} state-danger {% endif %}"></div>
      <div class="schedule-number">{{ forloop.counter }}</div>
      <div class="schedule-timeframe">
        <div class="start-time">{{ consulta.hora_inicio }}</div>
        <div class="end-time">{{ consulta.hora_fin }}</div>
      </div>
      <div class="schedule-consultation">
        <div class="name">
          {{ consulta.paciente.nombres|add:" "|add:consulta.paciente.apellidos }}
          <span class="label">{{ consulta.procedencia }}</span>
        </div>
        <div class="info">
          <span>{{ consulta.paciente.fecha_nacimiento }}</span>
          <span>{{ consulta.paciente.fecha_nacimiento|edad }}</span>
          <span>{{ consulta.paciente.ocupacion }}</span>
        </div>    
      </div>      
      <div class="schedule-actions">
        {% with servicio=consulta.agendaserv_set.all.first %}
        <div class="name">
          <span>{{ servicio.servicio.nombre }}</span>
        </div>
        <div class="info-costo">          
          <span>{{ servicio.costo }} Bs.</span>
        </div>
        {% endwith %}
      </div>
    </div>
  {% endfor %}    
{% else %}
  <div class="empty-list-placeholder agenda">
    <img src={% static 'assets/images/agenda-placeholder.png' %} alt="">
    <div class="header">!Agenda una cita para tu paciente!</div>
  </div>
</ul>
{% endif %}