{% load static %}

{% load paciente_tags %}

{% if consultas.count > 0 %}
  {% for consulta in consultas %}    
    <div class="schedule-item" data-url={% url 'agenda-editar' pk=consulta.id %}>
      <div class="schedule-state {% if consulta.estado %} state-success {% else %} state-danger {% endif %}"></div>
      <div class="schedule-number">{{ forloop.counter }}</div>
      <div class="schedule-timeframe">
        <div class="start-time">{{ consulta.hora_inicio }}</div>
        <div class="end-time">{{ consulta.hora_fin }}</div>
      </div>
      <div class="schedule-consultation">
        <div class="name">
          {{ consulta.paciente.nombres|add:" "|add:consulta.paciente.apellidos }}
          <span class="label">{{ consulta.procedencia }}</span>
        </div>
        <div class="info">
          <span>{{ consulta.paciente.fecha_nacimiento }}</span>
          <span>{{ consulta.paciente.fecha_nacimiento|edad }}</span>
          <span>{{ consulta.paciente.ocupacion }}</span>
        </div>    
      </div>      
    </div>
  {% endfor %}    
{% else %}
  <div class="empty-list-placeholder">
    
  </div>
{% endif %}